<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>
<body >
<%- include('../partials/navbar'); -%>
<div class="container-fluid" id="login">
    <section class="section-border border-primary">
        <div class="container d-flex flex-column">
            <div class="  justify-content-center no-gutters mt-12">
                <!-- Heading -->
                <h1 class="mb-0 font-weight-bold text-center">
                    404 Not Found
                </h1>
                <p class="text-center">
                    <a class="navbar-brand" href="<%= site_url %>">
                        Go to back
                    </a>
                </p>

            </div>
        </div>
    </section>
</div>
</body>
</html>
